/* 
- font-family : nom personalisé que je vais utiliser dans mon code
- format (truetype (font, ttf) ou autre, woff, woff2, opentype) est juste le type du fichier 
    - recommendation fournir plusieurs format de fichier pour chaque fonte pour maximiser la compatibilité (reco : woff2, woff et ttf)
    - font weight indique le poids


    
*/

/* 
- police entr 14-16px 
- marge interne et externe
-empilement des élémentss
- max width pour limiter la largeur
-tester les pseudo-éléments


- utilisation des media queries pour les ecran plus grands

*/
 /* width: 100%; */
    /* padding: 20px; */
    /* margin: 20px; */
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
    /* 
    -hoover
    -transition
    - section:hover ou autre :
    @media pour ajuster le margin, le padding et la taille de textes pour les petits ecrans
    */
     /* centrer horizontalement sans ajouter de marge latérale inutile. */

     /* <!-- 
     - tailles des étoile
     - yellow
     -centrage texte 
 
 
   - police : fonte + taille des textes
   - vue telephone
   - couleurs bg et texte
   -span ?
   --> */

   /* 
   - flexbox
   - css grid
   - media query
    */

@font-face{
    font-family: 'DMSans' ;
    src: url('/assets/fonts/static/DMSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DMSans' ;
    src: url('/assets/fonts/static/DMSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DMSans';
    src: url('/assets/fonts/static/DMSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'DMSans';
    src: url('/assets/fonts/DMSans-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'DMSans';
    src: url('/assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}


:root{
    --purple-100 : hsl(254, 88%, 90%) ;
    --purple-500 : hsl(256, 67%, 59%);

    --yellow-100 : hsl(31, 66%, 93%);
    --yellow-500 : hsl(39, 100%, 71%); 
    
    --white : hsl(0, 0%, 100%);
    --black : hsl(0, 0%, 7%);

    --greybg : hsl(0, 0%, 95%);
/* revenir dessus pour se renseigner sur le scss et taillwind css */
    
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
body {
    overflow-x: hidden ;
    background-color: var(--greybg) ;
    font-family: 'DMSans', Arial, sans-serif;
    /* les autres polices sont les polices de secours */
    line-height: 0.9;
}

img {
    max-width: 100%; 
    height: auto; 
  }

p{
    font-size: 18px;
    font-weight: 500;
}

h1{
    font-weight: 500;
}


.section{
    text-align: center;
    
    border-radius: 10px;
   
    padding: 15px;
    
    
    margin: 15px ;
    margin-top: 30px;
    margin-bottom: 30px;

    max-width: 375px;


   
}

.section--purple-100{
    color : var(--black) ;
    background-color: var(--purple-100);
}

.section--purple-500{
    color : var(--white) ;
    background-color : var(--purple-500);
   
    
}

.section--yellow-100{
    color : var(--black);
    background-color: var(--yellow-100);
}

.section--yellow-500{
    color : var(--black);
    background-color: var(--yellow-500);
}

.section--white{
    color: var(--black);
    background-color: var(--white);
}

.highlight-yellow{
    color : var(--yellow-500);
}

.highlight-purple{
    color : var(--purple-500);
    font-style: italic;
}


#socialmedia {
    min-height: 250px;
    padding-top: 40px;
    padding-bottom: 40px;
}

#socialmedia img{
    width: 60%;
}

#socialmedia h1{
    font-size: 2.5rem;
}

#socialmedia p{
    font-weight: 400; margin-top: 10px;
}

#multipleplatforms{
    padding-bottom: 20px;
}

#multipleplatforms h2{
    text-align: left;
    margin-top: 12px; 
}

#schedulepost{
    padding-bottom: 0; 
    text-align: left;
}

#schedulepost img{
    width: 60%;
    display: block;
}

#schedulepost h2{
    padding-bottom: 20px;
}


#schedulemedia{
    padding-top: 30px;
    padding-bottom: 30px;
}

#schedulemedia h2{
    padding-bottom: 30px;
}

#schedulemedia p{
    padding-top: 30px;
}

#growfollowers{
    padding-bottom: 30px;
}

#growfollowers img {
    width: 80%;
}

#audiencegrowth{
    padding-bottom: 30px; 
    padding-top: 30px;
}

#audiencegrowth h2{
    text-align: left;
}

#audiencegrowth img{
    width: 60%;
    display: block;
}

.large-text{
    font-size: 3rem; 
    font-weight:500;
}

.medium-text{
    font-weight: 500; 
    font-size: large;
    line-height: 3;
}

#quicker{
    text-align: left; 
    padding: 30px;
}

#quicker h2{
    font-size: 1.8rem; 
    padding-bottom: 20px;
}

#quicker img{
    display: block;
    width: 70%;
}



#aiwriting{
    text-align: left; 
    padding: 30px;
}

#aiwriting h2{
    font-size: 1.8rem;
}

#airwriting img{
    width: 80%;
}

.mobile-only{
    display: inline;
}

.desktop-only{
    display: none;
}


@media (min-width: 1024px){
    body {
        max-width: 1440px;
        max-height: 2560;

        /* max-height: 1440px;
        max-width: 1029px; */

        margin: 0 auto; 

        overflow-x: hidden;
        
      }

      .mobile-only{
        display: none;
    }

    .desktop-only{
        display: inline;
    }
    

      /* 
      ecran 1 2560x1440
      ecran 2 1920x1080
      */
    .grid-container{
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(4, auto);
        /* grid-template-rows: 1fr 0.25fr 0.6fr 1fr; */
       
        /* gap: 10px; */

        /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
        /* grid-auto-rows: minmax(100px, auto); S'adapte au contenu tout en restant flexible */
        
        padding: 10px;

        
    } 

    .section{
        max-width: 100%;
        /* max-width: none; */
      
    }
    #socialmedia {
        grid-column: 2 / 4; 
        grid-row: 1 / 2;  
        padding: 50px 10px 70px 10px ;
       
        
    }

    #socialmedia img{
        max-width: 30%;
    }

    #socialmedia h1{
        font-size: 4rem;
    }

    #multipleplatforms{
        grid-column: 2 /3 ;
        grid-row: 2 /4 ;
    }

    #schedulepost{
        grid-column: 3 /4 ;
        grid-row: 2 /4 ;
    }
    #schedulemedia{
        grid-column: 4 / 5 ;
        grid-row: 1 /4 ;
    }
    #growfollowers{
        grid-column: 3 /5 ;
        grid-row: 4 /5 ;
    }

    #growfollowers img {
        width: 50%;  
    }
    #audiencegrowth{
        grid-column: 2 /3 ;
        grid-row: 4 / 5 ;
    }
    #quicker{
        grid-column: 1 /2 ;
        grid-row: 1 /3 ;
    
    }
    #aiwriting{
        grid-column: 1 /2 ;
        grid-row: 3 /5 ;
    }
  
  
      
}