/* 
- font-family : nom personalisé que je vais utiliser dans mon code
- format (truetype (font, ttf) ou autre, woff, woff2, opentype) est juste le type du fichier 
    - recommendation fournir plusieurs format de fichier pour chaque fonte pour maximiser la compatibilité (reco : woff2, woff et ttf)
    - font weight indique le poids


    
*/

/* 
- police entr 14-16px 
- marge interne et externe
-empilement des élémentss
- max width pour limiter la largeur
-tester les pseudo-éléments


- utilisation des media queries pour les ecran plus grands

*/
 /* width: 100%; */
    /* padding: 20px; */
    /* margin: 20px; */
    /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
    /* 
    -hoover
    -transition
    - section:hover ou autre :
    @media pour ajuster le margin, le padding et la taille de textes pour les petits ecrans
    */
     /* centrer horizontalement sans ajouter de marge latérale inutile. */

     /* <!-- 
     - tailles des étoile
     - yellow
     -centrage texte 
 
 
   - police : fonte + taille des textes
   - vue telephone
   - couleurs bg et texte
   -span ?
   --> */

   /* 
   - flexbox
   - css grid
   - media query
    */

@font-face{
    font-family: 'DMSans' ;
    src: url('/assets/fonts/static/DMSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'DMSans' ;
    src: url('/assets/fonts/static/DMSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DMSans';
    src: url('/assets/fonts/static/DMSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'DMSans';
    src: url('/assets/fonts/DMSans-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'DMSans';
    src: url('/assets/fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}


:root{
    --purple-100 : hsl(254, 88%, 90%) ;
    --purple-500 : hsl(256, 67%, 59%);

    --yellow-100 : hsl(31, 66%, 93%);
    --yellow-500 : hsl(39, 100%, 71%); 
    
    --white : hsl(0, 0%, 100%);
    --black : hsl(0, 0%, 7%);

    --greybg : hsl(0, 0%, 95%);
/* revenir dessus pour se renseigner sur le scss et taillwind css */
    
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
body {
    overflow-x: hidden ;
    /* je peux toujours defiller horizontalement avec mes image est ce normal alors que overflow x hidden ? */
    background-color: var(--greybg) ;
    font-family: 'DMSans', Arial, sans-serif;
    /* les autres polices sont les polices de secours */
    line-height: 0.9;
}

img {
    max-width: 100%; /* L'image ne dépassera pas la largeur de son conteneur */
    height: auto; /* Garde les proportions de l'image */ 
  }

p{
    font-size: 18px;
    font-weight: 500;
}

h1{
    font-weight: 500;
}


.section{
    text-align: center;
    
    border-radius: 10px;
   
    padding: 15px;
    
    
    margin: 15px ;
    margin-top: 30px;
    margin-bottom: 30px;

    max-width: 375px;


   
}

.section--purple-100{
    color : var(--black) ;
    background-color: var(--purple-100);
}

.section--purple-500{
    color : var(--white) ;
    background-color : var(--purple-500);
   
    
}

.section--yellow-100{
    color : var(--black);
    background-color: var(--yellow-100);
}

.section--yellow-500{
    color : var(--black);
    background-color: var(--yellow-500);
}

.section--white{
    color: var(--black);
    background-color: var(--white);
}

.highlight-yellow{
    color : var(--yellow-500);
}

.highlight-purple{
    color : var(--purple-500);
    font-style: italic;
}